$primary: #4dd8ab;
$secondary: #d75656;
@import "bootstrap/scss/bootstrap";

$font-name: "FZBeiWeiKaiShu-S19S";
@font-face {
  font-family: $font-name;
  src: local($font-name), url("@/assets/fonts/" + $font-name + ".ttf");
}
* {
  font-family: $font-name;
}

body {
  * {
    scroll-behavior: smooth;
  }
}